{% extends 'estimate/base.html' %}


{% block content %}
<table class="table table-hover">
    <tbody>
        <tr>
            <th>제품명</th>
            <th>수량(개)</th>
            <th>금액(원)</th>
        </tr>
        <tr>
            <!-- 상품 목록을 콤보박스로 출력함 -->
            <td>               
                {% if product_list %}
                    <select name="product">
                        {% for product in product_list %}
                        <option value=""> {{ product.item_name }} </option>
                        {% endfor %}
                    </select>

                {% else %}
                    <p>Not found</p>

                {% endif %}
            </td>

            <!-- 수량을 선택하는 콤보박스 -->
            <td>
                <form action="PageObjects" method="get"> 
                <select name="item_quantity" id="selection">
                    <option value="">선택</option>
                    <option value="1" onClick="window.location.reload()">1개</option>
                    <option value="2" onClick="window.location.reload()">2개</option>
                    <option value="3" onClick="window.location.reload()">3개</option>
                    <option value="4" onClick="window.location.reload()">4개</option>
                    <option value="5" onClick="window.location.reload()">5개</option>
                </form>
            </td>
            
            <!-- 상품의 가격을 출력하는 부분 -->
            <!-- <td>3333</td> -->

            <td>
            <!-- {{ test_price }} -->
            <!-- {{ get_price }} -->
            <!--     {% widthratio get_price 1 3 %} -->
            
            <script language="javascript">
            var target = document.getElementById("selection");
            var val = target.options[target.selectedIndex].value
            document.write(val * 400000);
            </script>
            
            </td>
            <!-- 상품 가격 출력 테스트 끝-->


        </tr>
    </tbody>
</table>
{% endblock content %}
