{% extends 'estimate/base.html' %}


{% block content %}
<table class="table table-hover">
    <tbody>
        <tr>
            <th>제품명</th>
            <th>수량</th>
            <th>금액</th>
        </tr>
        <tr>
            <!-- 상품 목록을 콤보박스로 출력함 -->
            <td>               
                {% if product_list %}
                    <select name="product">
                        {% for product in product_list %}
                        <option value=""> {{ product.item_name }} </option>
                        {% endfor %}
                    </select>

                {% else %}
                    <p>Not found</p>

                {% endif %}
            </td>

            <td>2</td>
            <td>3333</td>
        </tr>
    </tbody>
</table>
{% endblock content %}
